
@import '@/style/variables.scss';

section {
    height: 200px;
    background-color: $third-txt-bg-color;
    display: flex;
    align-items: center;
    .container {
        width: 80%;
        padding: 20px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info-shop{
            cursor: pointer;
            display: flex;
            align-items: center;
            height: 60px;
            z-index: 1000;
            img {
                height: 100%;
            }
            .shop-text {
                padding-left: 20px;
                color: $first-txt-color;
            } 
        }
        .visa img {
            width: 70px;
        }  
    }
}